*.pyc
.#*

*~
*.py#

raid_test.py

__pycache__/

Print_group_ingestion.py

src/specific_implementations/*

*.yml#

coverage.xml

pytest.xml

.coverage

.env

docs/build/

.venv/

.DS_Store

.vscode/*
testenv

*.log

.mypy_cache/
